<h1 mat-dialog-title>{{desc}}</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">

    <mat-label>Choose a date</mat-label>
    <mat-hint>MM/DD/YYYY</mat-hint>

    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (blur)="isDateValid()" [(ngModel)]="data[0].Date"  >
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data[0].description">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label >Priority</mat-label>

    <mat-select [(ngModel)]="data[0].priority">
      <mat-option *ngFor="let pr of Priorities" [value]="pr.value" >
        {{pr.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onclick()">Close</button>
  <button mat-button [mat-dialog-close]="{position: data[0].position, Date: data[0].Date, description: data[0].description, priority: data[0].priority}" cdkFocusInitial>Ok</button>
</div>
