<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="" routerLink="">Home  <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </div>
</nav>

<div class="p-5 text-center bg-image">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-black">
        <h1 class="mb-3" style="font-size: 80px; font-weight: bold;font-family: revert; ">Task Manager</h1>
      </div>
    </div>
  </div>
</div>


<div class="center" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">

  <router-outlet></router-outlet>
</div>


