/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  height: 100%;
  background-image: url("src/assets/app-model-background.png");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centerDialog {
  min-height: 200px;
  top:45%
}
